button {
  border-radius:0;
}

button:focus {
  outline:1px dotted;
  outline:5px auto -webkit-focus-ring-color;
}

input, button, select, optgroup, textarea {
  margin:0;
  font-family:inherit;
  font-size:inherit;
  line-height:inherit;
}

button, input {
  overflow:visible;
}

button, select {
  text-transform:none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance:button;
}

.btn {
  display:inline-block;
  font-weight:400;
  text-align:center;
  white-space:nowrap;
  vertical-align:middle;
  user-select:none;
  border:1px solid transparent;
  padding:0.625rem 1.25rem;
  font-size:0.875rem;
  line-height:1.3;
  border-radius:0.125rem;
  transition:color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover, .btn:focus {
  text-decoration:none;
}

.btn:focus, .btn.focus {
  outline:0;
  box-shadow:0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn:not(:disabled):not(.disabled) {
  cursor:pointer;
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
  background-image:none;
}

.btn-primary {
  color:#fff;
  background-color:#007bff;
  border-color:#007bff;
}

.btn-primary:hover {
  color:#fff;
  background-color:#0069d9;
  border-color:#0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow:0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color:#fff;
  background-color:#0062cc;
  border-color:#0062cc;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow:0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.mr-2, .mx-2 {
  margin-right:0.625rem !important;
}

.mb-2, .my-2, .table-label {
  margin-bottom:0.625rem !important;
}

.p-2 {
  padding:0.625rem !important;
}

.btn {
  box-shadow:none !important;
}

.btn-primary {
  border-color:#48CCFF;
  background-color:#48CCFF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  border-color:#00b5fb !important;
  background-color:#00b5fb !important;
}

